body {
    background: #f2f4f8;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.merah {
    --bg-color: #ffe0e0;
    --bg-color-light: rgba(255, 255, 255, 0.5);
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 60, 66, 0.47);
}

.kembali {
    --bg-color: #d8f5d9;
    --bg-color-light: rgba(255, 255, 255, 0.5);
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(98, 249, 129, 0.48);
}

.kuning {
    --bg-color: #f8ffc0;
    --bg-color-light: rgba(255, 255, 255, 0.5);
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 191, 0, 0.48);
}

.biru {
    --bg-color: #dce9ff;
    --bg-color-light: rgba(255, 255, 255, 0.5);
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(172, 205, 255, 0.48);
}

.cardz {
    background: rgba(255, 255, 255, 0.25);
    height: 321px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.cardz:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.cardz:hover .overlayz {
    transform: scale(6) translateZ(0);
}

.cardz:hover .circlez {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.cardz:hover .circlez:after {
    background: var(--bg-color-light);
}

.cardz:hover p {
    color: var(--text-color-hover);
}

.cardz:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.cardz p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circlez {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circlez:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
}

.circlez svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlayz {
    width: 118px;
    position: absolute;
    height: 118px;
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--bg-color);
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.cardz-footer {
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.one-third {
    width: 33%;
    float: left;
    padding: 10px 20px;
    text-align: center;
}

.one-half {
    width: 50%;
    float: left;
    padding: 10px 20px;
    text-align: center;
}

.one-full {
    width: 100%;
    float: left;
    padding: 10px 20px;
    text-align: center;
}

.stat {
    position: relative;
    font-size: 24px;
}

.stat-value {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    align-items: center;
}

.no-border {
    border-right: none;
}

