<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css" />
</head>

<style>
    .table-nopadding{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    div.a {
        text-indent: 50px;
    }
</style>

<body style="font-size:14px;" class="m-0 p-0">
<div class="row">
    <div class="col-sm-2" align="right">
        <img src="JRM.png" alt="logo" style="width:100px;height:100px;">
    </div>
    <div class="col-sm-10" style="font-size:14px;">
        <h1 style="padding-bottom: 0; margin-bottom: 0;">JAYA RAYA MOBIL</h1>
        <p>JL. A. Yani No. 25, Samarinda<br>
        Telp: 0541-747168, HP: 0813-5087-1638<br>
        <img src="facebook.svg" alt="logo" style="width:20px;height:20px;">
        <img src="instagram.svg" alt="logo" style="width:20px;height:20px;">
            : <b>@jayarayamobil.smd</b> / ✉ : lisgun@gmail.com</p>
    </div>
</div>

<hr style="border-top: 2px solid black; margin-top: 0.1em; margin-bottom: 0.1em;">
<hr style="border-top: 2px solid black; margin-top: 0.1em; margin-bottom: 0.1em;">
<br>

<p>Dengan hormat,</p>
<div class="a">
    <p>Bersama ini kami ingin memberikan penawaran harga dari kami sebagai berikut:</p>
</div>

</div>
<div class="table-responsive table p-0">
    <table class="table-sm table table-bordered table-nopadding" id="tbRequest">
        <thead>
        <tr>
            <th style="width:5%;">No</th>
            <th style="width:45%;">Produk</th>
            <th style="text-align: center; width:7%;">Qty</th>
            <th style="text-align: center; width:8%;">Satuan</th>
            <th style="text-align: center; width:15%;">Harga</th>
            <th style="text-align: center; width:20%;">Subtotal</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td style="text-align: center">1</td>
            <td>
                <strong>Bearing</strong>
            </td>
            <td style="text-align: center">
                10
            </td>
            <td style="text-align: center">
                PCS
            </td>
            <td class="text-right">
                20.000
            </td>
            <td class="text-right">
                200.000
            </td>
        </tr>
        <tr>
            <td style="text-align: center">1</td>
            <td>
                <strong>Bearing</strong>
            </td>
            <td style="text-align: center">
                10
            </td>
            <td style="text-align: center">
                PCS
            </td>
            <td class="text-right">
                20.000
            </td>
            <td class="text-right">
                200.000
            </td>
        </tr>
        <tr>
            <td style="text-align: center">1</td>
            <td>
                <strong>Bearing</strong>
            </td>
            <td style="text-align: center">
                10
            </td>
            <td style="text-align: center">
                PCS
            </td>
            <td class="text-right">
                20.000
            </td>
            <td class="text-right">
                200.000
            </td>
        </tr>

        </tbody>
        <table class="table-sm table table-bordered table-nopadding">
            <tbody>
            <tr>
                <th class="text-right" style="width:80%;">
                    Total:
                </th>
                <td  class="text-right" style="width:20%;">
                    <b>200.000</b>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>

<p style="font-size:12px;"><b>*Stok barang dan harga tidak bersifat mengikat selama tidak ada Down Payment (DP) atau Konfirmasi pengambilan*</b></p>

<div class="a">
    <p>Demikian informasi yang kami sampaikan, atas perhatian dan kerjasamanya kami ucapkan terimakasih.</p>
</div>
Samarinda, 04 Januari 2021

</body>

</html>
